{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    <ul class="sonata-ba-show-many-to-many">
        {% if field_description.hasassociationadmin and field_description.associationadmin.hasRoute('edit') and field_description.associationadmin.isGranted('edit')%}
            {% for element in value%}
                <li>
                    <a href="{{ field_description.associationadmin.generateObjectUrl(field_description.options.route.name, element, field_description.options.route.parameters) }}">{{ element|render_relation_element(field_description) }}</a>
                </li>
            {% endfor %}
        {% else %}
            {% for element in value%}
                <li>
                    {% if element.providerName is defined %}
                        <a href="{{ path('sonata_media_download', {'id': element|sonata_urlsafeid }) }}">{{ element.name }}</a>
                    {% else %}
                        {{ element|render_relation_element(field_description) }}
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
