{% extends '::layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="content">
            <div class="row page-header">
                <h2>{{ 'crm_title'|trans }}</h2>
            </div>
            <h1><p class="text-warning">OooPs - 404!</p></h1>
            <h3><p class="lead">A keresett oldal nem található, vagy már nem létezik!<br>Ha regisztráció aktiválása után került erre az oldalra, akkor a regisztráció már aktív állapotban van. Kérem ez esetben a megadott azonosítókkal próbálja meg a bejelentkezést</p></h3>
        </div>
        <footer class="row">
            <div class="row page-footer well">
                <div class="">
                    <h2>{{ 'crm_title_footer_text'|trans }}</h2>
                    <p>Amennyiben garanciális Lenovo  készüléke meghibásodna, azonnal igényelheti Assistance szolgáltatásunkat.
                        Regisztrálja termékét és rendelje meg készüléke javítását internetes felületünkön keresztül!</p>
                    <p><a href="http://tmx.hu/" target="_blank">TMX Mobile</a></p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
