
{%  set is_fragment =  app.request.pathinfo == '/_fragment' %}

{% if not is_fragment %}
    {% include 'SonataUserBundle:Registration:register_with_layout.html.twig' %}
{% else %}
    {% include "SonataUserBundle:Registration:register_content.html.twig" %}
{% endif %}

