{% extends "SonataUserBundle::layout.html.twig"  %}
{% block fos_user_content %}
<div class="row">
	<div class="col-sm-6">
		{% block sonata_user_login %}
		{% include '@SonataUser/Security/login_content.html.twig' with { error: {}, csrf_token: form._token.vars.value | default(''), last_username: '' } %}
		{% endblock %}
	</div>
	<div class="col-sm-6">
		{% block sonata_user_registration %}
		{% include "FOSUserBundle:Registration:register_content.html.twig" %}
		{% endblock %}
	</div>
</div>
{% endblock fos_user_content %}