<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}</h2>
    </div>
    <div class="panel-body">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
            {{ bootstrap_set_style('horizontal') }}
            {{ form_widget(form) }}
            {{ bootstrap_set_style('') }}
            <div class="form-actions">
                <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-success pull-right" />
            </div>
        </form>

    </div>
</div>