<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}</h2>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" action="{{ path('fos_user_resetting_send_email') }}" method="POST" role="form">
            <div class="form-group">
                {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                {% endif %}
                <label for="inputEmail3" class="col-sm-2 control-label">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-success pull-right" />
                </div>
            </div>
        </form>
    </div>
</div>
