{# overridden just to avoid the missing implementation of app.user.__toString in case of memory provided user #}
{% block user_block %}
    {% if app.user %}
        <li>
            <a href="{{ path('service_crm_admin_profile') }}">
                <i class="glyphicon glyphicon-user"></i>
                {{ app.user.username }}
            </a>
        </li>
        {% if is_granted('ROLE_PREVIOUS_ADMIN') and sonata_user.impersonating %}
            <li><a href="{{ url(sonata_user.impersonating.route, sonata_user.impersonating.parameters| merge({'_switch_user': '_exit'})) }}">(exit)</a></li>
    {% endif %}
        <li>
            <a href="{{ url('sonata_user_security_logout') }}">
                <i class="glyphicon glyphicon-log-out"></i>
                {{ 'user_block_logout'|trans({}, 'SonataUserBundle') }}
            </a>
        </li>
    {% endif %}
{% endblock %}

