{% block requiring_courier_link_widget %}
    {% set url = helper.getUrlForModel(form.vars.data) %}
    {% if url %}
        <a href="{{ url }}">{% block title %}{{ form.vars.data }}{% endblock %}</a>
    {% else %}
        <span>{{ block('title') }}</span>
    {% endif %}
{% endblock %}