
<div>
    <h2>Asszisztenciák</h2>

    <ul class="list-unstyled">
        {% for assistance in assistances %}
        <li>
            <h3>Termék regisztráció</h3>
            <p>Kérjük itt készülékéről minden adatot pontosan adjon meg. Ezeket az adatokat a készüléken lévő adatmatricán találja meg.
                Fontos, hogy a sorozatszámot figyelmesen olvassa le a készülékről és pontosan adja meg az S/N mezőben</p>
            <h3>{{ assistance.name }}</h3>
            <p>{{ assistance.description | nl2br }}</p>
        </li>
        <li><a href="/documents/Adatvedelmi_szabalyzat.pdf">Adatvédelmi nyilatkozat</a></li>
        <li><a href="/documents/Panaszkezelesi_szabalyzat.pdf">Panaszkezelési nyilatkozatot</a></li>
        {% endfor %}
    </ul>
</div>