{% block uploaded_files_widget %}
    {% set id_name = id|split('_') %}
    <div style="width: 100%;height: 10px"></div>
    <div id="field_container_{{ id }}" class="field-container">
        <span id="field_widget_{{ id }}">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Töröl</th>
                    <th class="">
                        Fájl név
                    </th>
                    <th class="">
                        Letöltés
                    </th>
                </tr>
                </thead>
                <tbody class="sonata-ba-tbody">
                {% for file in files %}
                    <tr>
                        <td class="sonata-ba-td-{{ id }}-_delete control-group">
                            <div class="icheckbox_minimal" aria-checked="false" aria-disabled="false" style="position: relative;">
                                <input type="checkbox" name="{{ name }}[]" value="{{ file.id }}">
                            </div>
                        </td>
                        <td class="sonata-ba-td-{{ id }}-name control-group">
                            {{ file.name }}
                        </td>
                        <td class="sonata-ba-td-{{ id }}-name control-group">
                            <a href="{{ asset(uploader_helper.asset(file,'file')) }}" target="_blank">Letölt</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </span>
    </div>
{% endblock %}


{% block media_attachment_widget %}
    {{ form_row(form.file) }}
    {#{{ dump(form.vars.data) }}#}
    <div>
        <label for="">{{ 'label.attached_files' | trans }}</label>
        <ul class="list list-unstyled">
            {% for media in form.vars.data %}
            <li>
                <a href="{{ path('sonata_media_download', {'id': media|sonata_urlsafeid }) }}">{{ media.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}