{% extends '::layout.html.twig' %}
{% block body %}
<div class="container">
    <div class="content">
        <div class="row page-header">
            <h3><img src="/images/tmx_logo.png">{{ 'crm_title'|trans }}</h3>
        </div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
    <footer class="row">
        <div class="row page-footer well">
            <div class="">
                <h2>{{ 'crm_title_footer_text'|trans }}</h2>
                <p>Amennyiben garanciális Lenovo  készüléke meghibásodna, azonnal igényelheti Assistance szolgáltatásunkat.
                    Regisztrálja termékét és rendelje meg készüléke javítását internetes felületünkön keresztül!</p>
                <p><a href="http://tmx.hu/" target="_blank">TMX Mobile</a></p>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
