{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.getStatus == 'Új igény' %}
            <span class="label label-danger">{{ object.getStatus }}</span>
        {% endif %}
        {% if object.getStatus == 'Evidenciára vár' %}
            <span class="label label-warning">{{ object.getStatus }}</span>
        {% endif %}
        {% if object.getStatus == 'Garanciajegyre vár' %}
            <span class="label label-warning">{{ object.getStatus }}</span>
        {% endif %}
        {% if object.getStatus == 'Megerősített igény' %}
            <span class="label label-info">{{ object.getStatus }}</span>
        {% endif %}
        {% if object.getStatus == 'Csúszó átvétel' %}
            <span class="label label-primary">{{ object.getStatus }}</span>
        {% endif %}
        {% if object.getStatus == 'Törölt igény' %}
            <span class="label label-default">{{ object.getStatus }}</span>
        {% endif %}
        {% if object.getStatus == 'Készülék átvéve' %}
            <span class="label label-success">{{ object.getStatus }}</span>
        {% endif %}
        {% if object.getStatus == 'Készülék visszadva' %}
            <span class="label label-success">{{ object.getStatus }}</span>
        {% endif %}
    </div>
{% endblock %}