{% if app.security.granted('ROLE_CLIENT') %}

    {% set user_admin = admin_pool.getAdminByAdminCode('sonata.user.admin.user') %}
    {% set active_supplier = app.user.clientsActiveSupplier %}
    {% set uri = app.request.uri %}

    {% if user_admin.getAvailableSuppliers() | length > 0 %}
    <li class="dropdown user-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="{{ 'label.select_supplier' | trans() }}">
            {{ active_supplier.name }}
            <i class="fa fa-caret-down"></i>
        </a>

        <ul class="dropdown-menu dropdown-user">

            {% for supplier in user_admin.getAvailableSuppliers() %}
                {% set is_active = active_supplier.id == supplier.id  %}
                <li >
                    <a href="{{ path('user_helper_update_active_supplier', { redirect: uri, supplier: supplier.id }, false) }}">
                        {{ supplier.name }}
                        {% if is_active %}<i class="fa fa-check"></i>{% endif %}
                    </a>
                </li>
            {% endfor %}

        </ul>
    </li>
    {% endif %}
{% endif %}