{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}
{% block form %}
    {{ parent() }}
    {% block logs %}
        <h3>Előzmények</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Felhasználó</th>
                <th class="">
                    Módosítás dátuma
                </th>
                <th class="">
                    Módosított adatok
                </th>
            </tr>
            </thead>
            <tbody class="sonata-ba-tbody">
            {% for log in admin.getAssistanceLogs() %}
                <tr>
                    <td class="control-group">
                        {{ log.username }}
                    </td>
                    <td class="control-group">
                        {{ log.loggedAt|date('Y-m-d h:s') }}
                    </td>
                    <td class="control-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 200px">Mezők</th>
                                    <th>Adat</th>
                                </tr>
                            </thead>
                            {% for key, data in log.data %}
                                {% if key == 'assistanceStatus' %}
                                    <tr>
                                        <td>Státusz</td>
                                        {% set statusId = data.id | default(null) %}
                                        <td>{{ statusId ? admin.getStatusName(statusId) : '' }}</td>
                                    </tr>
                                {% endif %}
                                {% if key == 'product' %}
                                    <tr>
                                        <td>Készülék</td>
                                        <td>{{ data.type }}</td>
                                    </tr>
                                {% endif %}
                                {% if key == 'zip' %}
                                    <tr>
                                        <td>Átvétel helye (Irányítószám)</td>
                                        <td>{{ data }}</td>
                                    </tr>
                                {% endif %}
                                {% if key == 'address' %}
                                    <tr>
                                        <td>Átvétel helye (Cím)</td>
                                        <td>{{ data }}</td>
                                    </tr>
                                {% endif %}
                                {% if key == 'date' %}
                                    <tr>
                                        <td>Átvétel helye (Dátum)</td>
                                        <td>{{ data|date('Y-m-d') }}</td>
                                    </tr>
                                {% endif %}
                                {% if key == 'phone' %}
                                    <tr>
                                        <td>Átvétel helye (Telefon)</td>
                                        <td>{{ data }}</td>
                                    </tr>
                                {% endif %}
                                {% if key == 'returnAddressZip' %}
                                    <tr>
                                        <td>Vissza (Iránytószám)</td>
                                        <td>{{ data }}</td>
                                    </tr>
                                {% endif %}
                                {% if key == 'returnAddress' %}
                                    <tr>
                                        <td> Vissza (Cím) </td>
                                        <td>{{ data }}</td>
                                    </tr>
                                {% endif %}
                                {% if key == 'returnDate' %}
                                    <tr>
                                        <td> Vissza (Dátum) </td>
                                        <td>{{ data|date('Y-m-d') }}</td>
                                    </tr>
                                {% endif %}
                                {% if key == 'adminComment' %}
                                    <tr>
                                        <td> Admin megjegyzés </td>
                                        <td>{{ data }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
{% endblock %}