{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">{{ 'breadcrumb.link_dashboard' | trans }}</a>
    </li>
    <li>
        <a href="{{ path('service_crm_admin_profile') }}">{{ 'breadcrumb.admin_profile' | trans }}</a>
    </li>
{% endblock %}
{% block sonata_page_content_header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <span class="navbar-brand">{{ 'block.label.admin_profile_title' |trans }}</span>
        </div>
    </nav>
{% endblock %}
{% block content %}
    {{ sonata_block_render_event('sonata.admin.dashboard.top', { 'admin_pool': admin_pool }) }}
    <div class="sonata-ba-form">
        <form action="{{ path('service_crm_admin_profile') }}" method="POST">
            <div class="row">
                {{ form_errors(form) }}
                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                {{ 'block.label.admin_profile_login_data' |trans }}
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                {{ form_widget(form.login_data) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                {{ 'block.label.admin_profile_contact_data' |trans }}
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                {{ form_widget(form.contact_data) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                {{ 'block.label.admin_profile_person_data' |trans }}
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                {{ form_widget(form.person_data) }}
                            </div>
                        </div>
                    </div>
                </div>
                {% if form.services is defined %}
                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                {{ 'block.label.services' |trans }}
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                {{ form_widget(form.services) }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="well well-small form-actions">
                <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save"></i> Mentés</button>
            </div>
        {{ form_end(form) }}
    </div>
    {{ sonata_block_render_event('sonata.admin.dashboard.bottom', { 'admin_pool': admin_pool }) }}
{% endblock %}
