{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block form %}

    <h1>{{ 'label.select_supplier' | trans() }}</h1>
    <ul>
        {% if suppliers|length > 0 %}
            {% for supplier in suppliers %}
                <li>
                    <a href="{{ admin.generateUrl('create', admin.persistentParameters | merge({ supplier: supplier.id })) }}">{{ supplier.name | trans() }}</a>
                </li>
            {% endfor %}
        {% else %}
            <div style="color:red">
                <b><li>Futár igénylése előtt kérem válasszon felhasználót akinek igényelni szeretné -> ( Felhasználók list/ Felahasználó / Futár igénylés )</li></b>
                <b><li>Ha választott felhasználót, de nem tud szolgáltatót kiválasztani, kérem a felhasználóhoz rendeljen hozzá egy szolgáltatót! ( Felhasználói profil )</li></b>
            </div>
        {% endif %}
    </ul>

{% endblock %}
