{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block form %}


    <h1>{{ 'label.select_product_type' | trans() }}</h1>
    <ul>
        {% for type in types %}
            <li>
                <a href="{{ admin.generateUrl('create', admin.persistentParameters | merge({ product_type: type.id })) }}">{{ type.name | trans() }}</a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}
