{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ media.name }}{% endblock %}

{% block content %}
    <h2>{{ media.name }}</h2>

    <h3>{{ 'title.media_preview'|trans({}, 'SonataMediaBundle') }} ~ {{ format }}</h3>
    <div>
        {% media media, format %}
    </div>

    <h3>{{ 'title.informations'|trans({}, 'SonataMediaBundle') }}</h3>
    <table>
        {% if pixlr and pixlr.isEditable(media) %}
            <tr>
                <td></td>
                <td><a class="btn" href="{{ path('sonata_media_pixlr_open_editor', {'id': media|sonata_urlsafeid }) }}">{{ "label.edit_with_pixlr"|trans({}, "SonataMediaBundle")}}</a></td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ 'label.size'|trans({}, 'SonataMediaBundle') }}</td>
            <td>{{ media.size }}</td>
        <tr>
        <tr>
            <td>{{ 'label.width'|trans({}, 'SonataMediaBundle') }}</td>
            <td>{{ media.width }}</td>
        <tr>
        <tr>
            <td>{{ 'label.height'|trans({}, 'SonataMediaBundle') }}</td>
            <td>{{ media.height }}</td>
        <tr>
        <tr>
            <td>{{ 'label.content_type'|trans({}, 'SonataMediaBundle') }}</td>
            <td>{{ media.contenttype }}</td>
        <tr>
        <tr>
            <td>{{ 'label.copyright'|trans({}, 'SonataMediaBundle') }}</td>
            <td>{{ media.copyright }}</td>
        <tr>
        <tr>
            <td>{{ 'label.author_name'|trans({}, 'SonataMediaBundle') }}</td>
            <td>{{ media.authorname }}</td>
        <tr>
        <tr>
            <td>{{ 'label.cdn'|trans({}, 'SonataMediaBundle') }}</td>
            <td>
                {% if media.cdnisflushable %}
                    {{ 'label.to_be_flushed'|trans({}, 'SonataMediaBundle') }}
                {% else %}
                    {{ 'label.flushed_at'|trans({}, 'SonataMediaBundle') }}
                    {{ media.cdnflushat|date }}
                 {% endif %}
            </td>
        <tr>
        <tr>
            <td>{{ 'label.protected_download_url'|trans({}, 'SonataMediaBundle') }}</td>
            <td>
                <input type="text" value="{{ path('sonata_media_download', {'id': media|sonata_urlsafeid }) }}" style="width:500px"/>
                <a href="{{ path('sonata_media_download', {'id': media|sonata_urlsafeid }) }}">{{ 'link.test_protected_url'|trans({}, 'SonataMediaBundle') }}</a>
                <br />
                <span class="label warning">{{ 'label.protected_download_url_notice'|trans({}, 'SonataMediaBundle') }}</span> {{ security.description }}
            </td>
        <tr>

        <tr>
            <td>{{ 'label.public_url'|trans({}, 'SonataMediaBundle') }}</td>
            <td><input type="text" value="{% path media, format %}" style="width:500px"/></td>
        <tr>
    </table>

    <h3>{{ 'title.formats'|trans({}, 'SonataMediaBundle') }}</h3>
    <table>
        <tr>
            <td>
                <a href="{{ admin.generateUrl('show', { 'id' : media|sonata_urlsafeid , 'format' : 'reference'}) }}">reference</a>
            </td>
            <td>
                <input type="text" value="{% path media, 'reference' %}"  style="width:500px" />
            </td>
        </tr>

        {% for name, format in formats %}
            <tr>
                <td>
                    <a href="{{ admin.generateUrl('show', { 'id' : media|sonata_urlsafeid , 'format' : name}) }}">{{ name }}</a>
                </td>
                <td>
                    <input type="text" value="{% path media, name %}"  style="width:500px"/>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
